.feature-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:35px;

    transition:.35s;

    cursor:pointer;
}

.feature-card:hover{

    transform:translateY(-10px);

    border-color:#2563EB;

    box-shadow:0 0 35px rgba(37,99,235,.25);
}

.feature-icon{

    width:70px;

    height:70px;

    border-radius:16px;

    background:rgba(37,99,235,.15);

    color:#3B82F6;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    margin-bottom:25px;
}

.feature-card h3{

    color:white;

    margin-bottom:18px;

    font-size:24px;
}

.feature-card p{

    color:#94A3B8;

    line-height:28px;
}