.footer{

    background:#050b16;

    padding:80px 10% 30px;
}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:50px;

    margin-bottom:50px;
}

.footer h2{

    color:white;

    margin-bottom:20px;
}

.footer h3{

    color:white;

    margin-bottom:20px;
}

.footer p{

    color:#94A3B8;

    line-height:30px;
}

.footer-links{

    display:flex;

    flex-direction:column;
}

.footer-links a{

    color:#CBD5E1;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;
}

.footer-links a:hover{

    color:#3B82F6;
}

.footer-contact p{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:15px;
}

.social-icons{

    display:flex;

    gap:15px;
}

.social-icons a{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#111827;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    transition:.3s;
}

.social-icons a:hover{

    background:#2563EB;

    transform:translateY(-5px);
}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    padding-top:25px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.footer-bottom p{

    margin:0;
}

.footer-bottom button{

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    background:#2563EB;

    color:white;

    cursor:pointer;

    transition:.3s;
}

.footer-bottom button:hover{

    transform:translateY(-5px);
}

@media(max-width:950px){

.footer-container{

grid-template-columns:1fr;

text-align:center;
}

.footer-contact p{

justify-content:center;
}

.social-icons{

justify-content:center;
}

.footer-bottom{

flex-direction:column;

gap:20px;
}

}